#about-hero {
	background: url("../images/abouthero.jpg");
    background-size: cover;
}

#about-image {
	background: url("../images/aboutimage.jpg");
	background-position: center;
    background-size: cover;
}