#events-hero {
	background: url("../images/lights-runway2.jpg");
    background-size: cover;
}

#fashionabletalk-image {
	background: url("../images/fashionabletalk.png");
	background-position: center;
    background-size: cover;
}

#makesewdo-image {
	background: url("../images/makesewdo.jpg");
    background-size: cover;
}

#migrantzine-image {
	background: url("../images/migrantzine.jpg");
	background-position: center;
    background-size: cover;
}

#SYOT-image {
	background: url("../images/SYOT.jpg");
	background-position: center;
    background-size: cover;
}

#swapit-image {
	background: url("../images/swapit.jpg");
	background-position: top right;
    background-size: cover;
}

#speeddating-image {
	background: url("../images/speeddating.jpg");
	background-position: center;
    background-size: cover;
}

#printer-image {
	background: url("../images/3Dprinter.jpg");
	background-position: center;
    background-size: cover;
}

#projection-image {
	background: url("../images/projection.jpg");
	background-position: center;
    background-size: cover;
}