#site-navbar {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
}

.nav-link {
  color: $color-primary !important;
}

#event-link-nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: $color-secondary;
    padding: 22px 15px 0;

    span {
		color: #ffffff;
    }

  @media screen and (max-width: 768px) {
    padding: 1em;
    position: static;
  }
}
