.history-text-block {
	padding: 10em 5em;

  @media screen and (max-width: 768px) {
    padding: 5em 2.5em;
  }
}

#then-image {
	background: url("../images/DSC_6429.jpg");
	background-position: center;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

#now-image {
	background: url("../images/DSC_7415.jpg");
	background-position: center;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

.image-text {
	font-size: 8rem;
	position: absolute;
	bottom: 0.3em;

	&.blue-accent:after {
		width: 60px;
		border-width: 6px;
	}
}